<md-input-container style="width: 90%">
  <label>Project</label>
  <input type="text" ng-model="search.project_name">
</md-input-container>
<md-list>
  <md-list-item class="md-3-line" ng-repeat="i in allIssues | filter:search" ng-if="i.assignee == null" style="padding: 0 10px">
    <div class="md-list-item-text">
      <h1>
        <div ng-click="openIssue(i.web_url)">Title: {{i.title}} </div>
      </h1>
      <p>Project: {{i.project_name}}
        <div>
          <md-button class="md-raised md-primary" style="-webkit-app-region: no-drag;" ng-click="assignIssue(i)">Assign Issue to me</md-button>
          <p>{{i.formatedTime}}</p>
        </div>
      </p>

    </div>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>